<h1>Exercises</h1>
<div data-ng-controller='ExercisesCtrl as exCtrl'>
    <button class="btn btn-default" ng-click="exCtrl.isCollapsed = !exCtrl.isCollapsed">Add a new exercise <span class="glyphicon glyphicon-plus-sign"></span>
    </button>
    <div collapse="exCtrl.isCollapsed">
        <div class="well well-lg">
            <h3>Add a new exercise</h3>
            <form class="form-horizontal" role="form" ng-submit="addItem()">
                <div class="form-group" name="newExerciseForm">
                    <label for="newExercise" class="col-sm-2 control-label">New exercise</label>
                    <div class="col-sm-10">
                        <input id="newExercise" placeholder="New exercise" ng-model="exCtrl.newExercise.name" ng-keyup="($event.keyCode == 13 && todoName.length > 2) ? exCtrl.addItem() : return" required class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="newExercise" class="col-sm-2 control-label">Category</label>
                    <div class="col-sm-10">
                        <input id="category" placeholder="Category" ng-model="exCtrl.newExercise.category" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-click="exCtrl.addItem()" ng-hide="newExerciseForm.$invalid" class="btn btn-primary" type="button">Save Exercise</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <h3>your list title</h3>
    <div class="form-inline">
        Click an exercise name to edit it.
        <input ng-model=" searchText " type="text " class="form-control " placeholder="Search ">
    </div>

    <div class="table-responsive ">
        <table class="table table-bordered table-striped ">
            <tr>
                <th>Exercise</th>
                <th>Category</th>
            </tr>
            <tr ng-repeat="exercise in exCtrl.exercises | orderBy: 'category' | filter:searchText" ng-animate=" 'animate' ">
                <td>
                    <editablespan model="exercise.name " on-ready="exCtrl.updateItem(exercise) " span-class="info " input-class="form-control " input-type="text ">
                    </editablespan>
                </td>
                <td>{{exercise.category}}</td>
            </tr>
        </table>
    </div>
</div>

